<style scoped>
    li {
        display: inline;
    }

    li + li::before {
        content: "/"
    }
</style>
<template>
    <nav>
        <ul>
            <li v-for="(b, i) in breadcrumb" :key="i">
                <nuxt-link v-if="b.path" :to="b.path">{{b.label}}</nuxt-link>
                <span v-if="!b.path">{{b.label}}</span>
            </li>
        </ul>
    </nav>
</template>
<script>
export default {
    props: ['breadcrumb'],
    mounted() {
        console.log(this.breadcrumb)
    }
}
</script>