<template>
    <li>
        <a v-if="item.callback" v-on:click="item.callback()">{{ item.name }}</a>
        <nuxt-link v-else-if="item.route_link" :to="item.route_link">{{ item.name }}</nuxt-link>
        <a v-else :href="item.link">{{ item.name }}</a>

        <ul v-if="item.children">
            <wam-base-menu-item v-for="(child, i) in item.children" :key="i" :item="child"/>
        </ul>
    </li>
</template>
<script>
export default {
    name: "wam-base-menu-item",
    props: ['item']
}
</script>