<template>
    <picture v-if="image">
        <template v-for="(sources, type) in image.sources">
            <template v-for="(src, size) in sources">
                <source :key="type + '.' + size" 
                    :type="type" 
                    :srcset="src" 
                    :media="'(min-width: ' + size + 'px)'"
                    />
            </template>
        </template>
        <img :src="image.fallback.src" :type="image.fallback.type"/>
    </picture>
</template>
<script>
export default {
    props: ['image']
}
</script>