<template>
    <nav>
        <ul>
            <wam-base-menu-item v-for="(item, i) in menu" :key="i" :item="item"/>
        </ul>
    </nav>
</template>
<script>
import WamBaseMenuItem from './wam-base-menu-item'
export default {
    props: ['menu'],
    components: {
        WamBaseMenuItem
    }
}
</script>