<style scoped>
.container {
    max-width: 900px;
    margin: auto
}
</style>
<template>
    <div class="container">
        <slot></slot>
    </div>
</template>
<script>
    export default {
        
    }
</script>