<template>
    <container>
        <breadcrumb :breadcrumb="$page.breadcrumb"></breadcrumb>
        <section>
            <header>
                <h1>{{ post.title }}</h1>
            </header>
            <wam-picture :image="post.image"/>
            <p>{{ post.content }}</p>
        </section>
    </container>
</template>
<script>
export default {
    computed: {
        post: function() {
            return this.$content
        }
    }
}
</script>