<style scoped>
.post {
    margin-bottom: 1rem;
}
</style>
<template>
<container>
    <h1>Blog</h1>
    <article v-for="post in posts" :key="post.id" class="post">
        <wam-picture :image="post.image"/>
        <header><h2><nuxt-link :to="post.url">{{ post.title }}</nuxt-link></h2></header>
        <p>
        {{ post.introduction }}    
        </p>
    </article>
    <button v-on:click="getPosts(prevPage)" :disabled="isFirstPage">Previous page</button>
    <button v-on:click="getPosts(nextPage)" :disabled="isLastPage">Next page</button>
</container>
</template>
<script>
export default {
    data: function () {
        return {
            pagination: this.$content.content
        }
    },
    computed: {
        posts: function () {
            return this.pagination.items
        },
        prevPage: function () {
            return this.pagination.currentPage - 1
        },
        nextPage: function () {
            return this.pagination.currentPage + 1
        },
        isFirstPage: function() {
            return this.pagination.firstPage == this.pagination.currentPage
        },
        isLastPage: function() {
            return this.pagination.lastPage == this.pagination.currentPage
        }
    },
    methods: {
        getPosts: function (page) {
            let self = this
            this.$api.getPosts({ _page: page}).then(function(posts) {
                self.pagination = posts

                self.$router.replace({path: self.$route.path, query: { _page: page }})
            })
        }
    }
}
</script>