<template>
    <container>
        <section id="product">
            <header>
                <h1>Store</h1>
            </header>
                <div class="products-wrapper">
                    <div v-for="product in products" :key="product.id" class="product-item">
                        <ul>
                            <li>
                                <nuxt-link :to="product.url" class="product-anchor">{{ product.title }}</nuxt-link>
                            </li>
                            <li>{{ product.sku }}</li>
                            <li>{{ product.description }}</li>
                            <li>{{ product.price }}</li>
                        </ul>
                        <a href="#">Add to cart</a>
                    </div>
                </div>
        </section>
    </container>
</template>
<script>
export default {
    data: function () {
        return {
            pagination: this.$content.content
        }
    },
    computed: {
        products: function () {
            return this.pagination.items
        }
    }
}
</script>