<template>
  <div>
    <wam-base-menu :menu="topMenu" />
    <nuxt />
    <wam-base-menu :menu="footerMenu" />
  </div>
</template>
<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  computed: {
    menus: function() {
        return this.$menus
    },
    topMenu: function() {
      let menu = this.menus ? this.menus.TOP : null
      let auth = this.$auth
      if (menu && !this.$auth.loggedIn) {
        menu.push({
          name: 'Login',
          text: 'Login',
          route_link: '/login',
          children: []
        })
      } else {
        menu.push({
          name: 'Logout',
          text: 'Logout',
          callback: function() {
            auth.logout()
          },
          children: []
        })
      }

      return menu
    },
    footerMenu: function() {
      return this.menus ? this.menus.FOOTER : null
    }
  }
})
</script>
<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
