<template>
<div>
    <h1>Login</h1>

    <form @submit.prevent="login" method="POST">
        <input type="text" name="username" v-model="loginData.username">
        <input type="password" name="password" v-model="loginData.password">
        <button type="submit" :disabled="loading">Login</button>
    </form>
</div>
</template>
<script>
export default {
    data: function() {
        return {
            loginData: {},
            loading: false
        }
    },
    methods: {
        login: function() {
            this.loading = true
            this.$auth.loginWith('local', {
                data: this.loginData
            })
        }
    }
}
</script>