<template>
    <div id="home">
        <div class="overlay">
            <div class="container">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1>{{ block.simpleText }}</h1>

                    <h2>{{ block.subtitle }}</h2>

                    <p class="p-cls" v-html="block.content">
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['block']
}
</script>